{% extends "layout.html" %}
{% block content %}
  <article>
    <h2><a href="http://www.chaoticfocus.net/posts/2017/10/off-to-the-mountains/">Off to the Mountains</a></h2>
      <div class="well well-sm">
        <footer class="post-info">
          <span class="label label-default">Date</span>
          <span class="published">
          <i class="fa fa-calendar"></i><time datetime="2017-10-20T11:33:00-04:00"> Fri 20 October 2017</time>
          </span>

          <span class="label label-default">By</span>
          <a href="http://www.chaoticfocus.net/author/noel.html"><i class="fa fa-user"></i> Noel</a>

          <span class="label label-default">Category</span>
          <a href="http://www.chaoticfocus.net/category/cycling/">Cycling</a>

          <span class="label label-default">Tags</span>
          <a href="http://www.chaoticfocus.net/tag/cycling/">cycling</a>
          /
          <a href="http://www.chaoticfocus.net/tag/offseason/">offseason</a>
          /
          <a href="http://www.chaoticfocus.net/tag/mtb/">mtb</a>

        </footer><!-- /.post-info -->
      </div><!--well well-sm-->
    <div class="summary"><p>Still firmly in offseason mode, I'm heading to the mountains.</p>
      <a class="btn btn-default btn-xs" href="http://www.chaoticfocus.net/posts/2017/10/off-to-the-mountains/">more ...</a>
    </div><!--summary-->
  </article>
{% endblock content %}